* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  min-width: 320px;
}

.container {
  max-width: 860px;
  margin: 0 auto;
  padding: 20px;
}

.flex-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

header.flex-columns {
justify-content: flex-start;
}

header.flex-columns .box:first-child {
flex: 2 1 calc((100% - 10px) * 2 / 3);
}

header.flex-columns .box:last-child {
flex: 1 1 calc((100% - 10px) / 3);
text-align: right;
}

main.flex-columns .box {
  flex: 1 1 calc((100% - 20px) / 3);
}

.box {
  min-height: 50px;
  max-height: 300px;
  min-width: 200px;
  padding: 5px;
  border-radius: 10px;
  overflow: hidden auto;
}

/* Mobile: il secondo box passa davanti */
@media (max-width: 450px) {
  main .box:nth-child(2) {
    order: -1;
  }
}


/* debug */

.debug .container {
  border: 2px solid red;
}

.debug .box {
  border: 2px solid blue;
}