* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  min-width: 320px;
}

.container {
  max-width: 860px;
  margin: 0 auto;
  padding: 10px;
}

.flex-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

header .flex-columns .box {
  flex: 1 0 calc(100%/2);
}

header .flex-columns .box:last-child {
  flex-grow: 1;
}

main .flex-columns .box {
  flex: 0 0 calc(100%/3);
}

.box {
  min-height: 200px;
  max-height: 300px;
  min-width: 200px;
  padding: 5px;
  overflow: hidden auto;
}


/* debug */

.debug .container {
  border: 2px solid red;
}

.debug .box {
  border: 2px solid blue;
}